.notification {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    display: grid;
    grid-template-areas: "text date delete";
    grid-template-columns: 4.8fr 1fr 0.2fr;
}
.delete-button {
    cursor: pointer;
    color: red;
}

#notification-container {
    min-height: 100%;
    width: 80%;
    padding: 10px 30px;
    border-left: 1px solid #dfcec3;
}

#upBtn {
    position: fixed;
    top: 80vh;
    left: 92vw;
    cursor: pointer;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 15px;
    padding: 7px 5px 3px;
}

.created-at,
.delete-button {
    margin-top: auto;
    text-align: center;
    font-size: 0.8rem;
    width: fit-content;
}

.created-at {
    padding-top: 5px;
}
