.clubInfo {
    border: 5px solid pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.title {
    border: 5px solid pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.close-btn {
    cursor: pointer;
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
}

.updateBtn {
    display: none;
}

.deleteBtn {
    display: none;
}

.applyingBtn {
    display: none;
}

.applyingClubMatch {
    display: none;
}
