.mainContainer {
    margin: 70px auto 10px;
}

#buttonContainer {
    display: grid;
    grid-template-areas: "match update delete . application expelMember withdraw";
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
}

.matchBtn,
.updateBtn,
.deleteBtn,
.applyingBtn,
.myClubApplication,
.matchManagement,
.toMyClubBtn,
.expelMemberBtn,
.withdrawBtn {
    font-family: "LINESeedKR-Bd";
    width: 110px;
    height: 35px;
    margin: 5px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #eeeeee;
    cursor: pointer;
}

.matchBtn:hover,
.updateBtn:hover,
.deleteBtn:hover,
.applyingBtn:hover,
.myClubApplication:hover,
.matchManagement:hover,
.toMyClubBtn:hover,
.expelMemberBtn:hover,
.withdrawBtn:hover {
    background-color: #ffb13d;
}

.matchBtn {
    grid-area: match;
}

.updateBtn {
    grid-area: update;
    display: none;
}

.deleteBtn {
    grid-area: delete;
    display: none;
}

.withdrawBtn {
    grid-area: withdraw;
}

.expelMemberBtn {
    grid-area: expelMember;
    display: none;
}

.applyingBtn {
    grid-area: application;
    display: none;
}

.toMyClubBtn {
    grid-area: match;
    display: none;
}

.myClubApplication {
    grid-area: application;
    display: none;
}

.matchManagement {
    grid-area: match;
    display: none;
}

#clubDetailContainer {
    margin-top: 15px;
    padding: 0px;
    border-top: 3px solid #4c3c36;
}

.firstRow,
.secondRow {
    display: flex;
    border-bottom: 1.5px solid #4c3c36;
    padding: 15px 15px;
}

.name {
    display: flex;
    width: 35%;
    color: #6b6968;
}

.clubNameDetail,
.regionDetail,
.scoreDetail,
.memberDetail,
.createdAtDetail,
.clubMasterDetail {
    width: 70%;
    margin: 0px auto;
    padding: 0px 15px;
    color: #000000;
    border-left: 4px double #4c3c36;
}

.region {
    display: flex;
    width: 30%;
    color: #6b6968;
}

.createdAt {
    display: flex;
    width: 35%;
    color: #6b6968;
}

.member {
    display: flex;
    width: 30%;
    color: #6b6968;
}

.clubMaster {
    display: flex;
    width: 35%;
    color: #6b6968;
}

.score {
    display: flex;
    width: 35%;
    color: #6b6968;
}

.detialRow {
    border-bottom: 1.5px solid #4c3c36;
    padding: 15px 15px;
}

.details {
    color: #6b6968;
}

.imageDetail {
    margin: 30px auto;
    width: 100%;
    text-align: center;
}

.imageDetail > img {
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    max-height: 400px;
}

.detailsDetail {
    margin: 15px 10px;
    color: #000000;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#applyDescription {
    display: block;
    font-size: 1.2rem;
}

#description1 {
    display: block;
    margin: 10px 0px;
    font-family: "LINESeedKR-Bd";
    padding: 8px;
    min-height: 100px;
    min-width: 300px;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.modalBtnContainer {
    text-align: center;
}

.modalBtnContainer > button {
    font-family: "LINESeedKR-Bd";
    border-radius: 7px;
    height: 25px;
    padding-top: 5px;
    border: 1px solid #ffb13d;
    background-color: #fff;
    cursor: pointer;
}

.modalBtnContainer > button:hover {
    background-color: #ffb13d;
}

.close-btn {
    cursor: pointer;
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
}

.form-group > input {
    width: 470px;
    background-color: #eeeeee;
    border-radius: 10px;
    color: #000000;
    margin: 10px 20px 10px 10px;
    padding: 0px 10px;
}

.btnBox {
    width: 100%;
    text-align: center;
}

.btnBox > button {
    font-family: "LINESeedKR-Bd";
    border-radius: 7px;
    height: 25px;
    padding-top: 5px;
    border: 1px solid #ffb13d;
    background-color: #fff;
    cursor: pointer;
}

.btnBox > button:hover {
    background-color: #ffb13d;
}

/* #expelMember-modal-overlay {
    display: none;
} */

#expelMember-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 오버레이 배경색 및 투명도 조절 */
    display: none; /* 초기에는 화면에 표시되지 않음 */
    justify-content: center;
    align-items: center;
}

#modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#nickname {
    width: 100%;
}

#expelMember-modal-overlay > .modal-content > label {
    display: block;
}

#expelMember-modal-overlay > .modal-content > input {
    background-color: #eeeeee;
    border-radius: 15px;
    border: none;
    margin: 15px;
    padding-left: 10px;
}

.memberList {
    margin-top: 30px;
}

.memberList > label {
    font-size: 1.3rem;
    color: #3f3131;
}

.memberList > .nickName {
    margin-top: 10px;
    cursor: pointer;
}

.memberList > .nickName:hover {
    text-decoration: underline;
}
