/* 메인 컨테이너*/
.mainContainer {
    margin-top: 70px;
}

/* 메인 컨테이너 - 프로필 컨테이너 */
.profileContainer {
    z-index: 1;
    margin: 30px 0;
    border: 2px solid #dfcec3;
    border-radius: 20px;
    height: 240px;
    display: grid;
    grid-template-areas:
        "image nickname gender tag alarm"
        "image height position position position"
        "image description description description calender"
        ". score score score updateBtn";
    grid-template-columns: 1fr 1fr 0.3fr 1fr 0.5fr;
    grid-template-rows: 1fr 0.5fr 1.5fr 1fr;
}

.noProfileContainer {
    z-index: 1;
    margin: 30px 0;
    border: 2px solid #dfcec3;
    border-radius: 20px;
    height: 80px;
    text-align: center;
}

.noprofile {
    font-size: 1.6rem;
    cursor: pointer;
    margin-top: 20px;
    height: 50px;
    padding: 5px 0px;
}

.noprofile:hover {
    text-decoration-line: underline;
    text-decoration-color: #ffb13d;
}

.image {
    grid-area: image;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nickname {
    grid-area: nickname;
    font-size: 1.7rem;
    padding-top: 18px;
    padding-left: 7px;
}

.gender {
    grid-area: gender;
    font-size: 1.9rem;
    padding-top: 18px;
    margin-left: 10px;
}

.tag {
    grid-area: tag;
    font-size: 0.9rem;
    padding-top: 30px;
}

.height {
    grid-area: height;
    font-size: 0.9rem;
    padding-left: 10px;
}

.position {
    grid-area: position;
    font-size: 0.9rem;
    padding-left: 10px;
}

.description {
    grid-area: description;
    padding: 0px 10px;
    margin: 0 10px;
}

.scoreContainer {
    grid-area: score;
    display: flex;
    float: left;
    margin: 15px 10px 15px 70px;
    justify-content: space-between;
}

#personalityAmount > i,
#abilityAmount > i,
.rankScore > i {
    color: #ffb13d;
}
#alarmBtn {
    grid-area: alarm;
    height: 40px;
    width: 50px;
    background-color: white;
    color: #666;
    border: none;
    padding-top: 3px;
    margin-top: 15px;
    margin-left: 60px;
    font-size: 1.5rem;
    cursor: pointer;
}

.calenderContainer {
    grid-area: calender;
}

#calenderBtn {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 30px;
    margin-top: 60px;
    margin-right: 5px;
    font-family: "LINESeedKR-Bd";
    cursor: pointer;
}

#profileUpdateBtn {
    grid-area: updateBtn;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 5px;
    font-family: "LINESeedKR-Bd";
    cursor: pointer;
}

/* 메인 컨테이너 - 랭킹 컨테이너 */

#rankLabel {
    font-size: 2rem;
    color: #3f3131;
}
.rankContainer {
    justify-content: space-between;
    width: 100%;
    display: flex;
    float: left;
    margin: 10px auto 15px;
}

.rankOuterContainer {
    width: 30%;
    margin-top: 5px;
    border: 1px solid #ff771c;
    border-radius: 20px;
    height: 200px;
}

.rankOuterContainer > .rankName {
    background-color: #ff771c;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 13px;
    padding-top: 5px;
    height: 25px;
}

.rank {
    height: 30px;
    text-align: start;
    display: grid;
    grid-template-areas: "rank nickname score";
    grid-template-columns: 0.9fr 1.5fr 0.6fr;
    margin: 20px 0px 10px 10px;
    font-size: 1.3rem;
}

.rankNumber {
    grid-area: rank;
}
.rankNumber > img {
    height: 28px;
    width: 50px;
    position: relative;
    bottom: 7px;
}
.ranknickName {
    grid-area: nickname;
}
.rankScore {
    text-align: center;
    width: 80px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.rankAnnouncement {
    margin-top: 5px;
}
.rankAnnouncement > p {
    font-size: 0.8rem;
    margin: 2px 0px;
}

/* 메인 컨테이너 - 기타 컨테이너 */
.plusContainer {
    justify-content: space-between;
    width: 100%;
    display: flex;
    float: left;
    margin-bottom: 70px;
}

.plusOuterContainer {
    width: 47%;
    margin-top: 30px;
}

.plusName {
    font-size: 2rem;
    color: #3f3131;
    cursor: pointer;
}

.plusInnerContainer {
    background-color: #dfcec3;
    border-radius: 20px;
    text-align: start;
    padding: 20px 20px;
}

.plusDataContainer {
    background-color: #ffffff;
    border-radius: 20px;
    height: 240px;
    position: relative;
    padding-top: 8px;
    padding-bottom: 5px;
}

.plusData {
    margin: 10px auto;
    padding: 10px 0px;
    width: 90%;
    font-size: 1.2rem;
    border-bottom: 1px solid #a08989;
    cursor: pointer;
}

.plusData:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.rankCard {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    width: 140px;
}

.personalityRankInnerContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.abilityRankInnerContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.personalityLeft,
.abilityLeft,
.clubLeft {
    display: flex;
    flex-direction: column;
    height: 150px;
}

.personalityLeft > img,
.abilityLeft > img,
.clubLeft > img {
    width: 50px;
    height: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 30px;
}

.personalityRight,
.abilityRight,
.clubRight {
    margin-top: 2px;
}

.rankScore {
    text-align: center;
    width: 80px;
    margin: 10px;
    font-size: 20px;
    margin-left: 50px;
}

.rankScore > i {
    display: inline;
}

.rankNickName {
    margin: 10px;
    font-size: 20px;
}
