@font-face {
    font-family: "LINESeedKR-Bd";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "LINESeedKR-Bd";
    background-color: white;
    margin: 0;
}

.header,
.menubarContainer,
.bodyContainer {
    justify-content: center;
    width: 80vw;
    margin: 0px auto;
}

/*드롭다운 메뉴바*/
li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 14px;
}

.menu {
    width: 100%;
    min-width: 800px;
    overflow: hidden;
    margin: 0px auto;
    border-radius: 15px;
    padding: 0px;
    position: relative;
}

.menu > li {
    width: 20%; /*20*5=100%*/
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #ff771c;
}

.menu a {
    color: #fff;
}

.detail > li {
    line-height: 50px;
    text-align: center;
    background-color: #ffb13d;
}

.detail {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
    padding: 0px;
}

.menu > li:hover {
    background-color: #ffb13d;
    transition-duration: 0.3s;
}

.menu > li:hover #detailRecruit,
.menu > li:hover #detailClub {
    height: 100px;
    transition-duration: 0.8s;
    overflow: visible;
}

.menu > li:hover #detailPlatform {
    height: 200px;
    transition-duration: 0.8s;
    overflow: visible;
}

/*헤더*/
.header {
    margin-top: 20px;
    display: grid;
    grid-template-areas: "logo search logout";
    grid-template-columns: 1fr 3fr 1fr;
}

.logo {
    grid-area: logo;
}

#logo {
    margin: 20px 20px;
    height: 90px;
    width: 95px;
    cursor: pointer;
}

.bodyContainer {
    margin-top: 10px;
}

/* 검색창 부분 */
#searchBox {
    grid-area: search;
    width: 800px;
    margin: 70px 30px auto;
    position: relative;
}

fieldset {
    display: flex;
    padding: 0 0 0 40px;
    background: #fff;
    border: 1px solid #ff771c;
    border-radius: 40px;
    width: 700px;
}

input,
#searchBtn {
    position: relative;
    width: 650px;
    height: 40px;
    padding: 0;
    float: left;
}

input {
    color: #666;
    border: 0 none;
    font-size: 0.9rem;
    font-family: "LINESeedKR-Bd";
}

input:focus {
    outline: 0 none;
}

#searchBtn {
    width: 50px;
    border: 0 none;
    cursor: pointer;
    border-radius: 0 40px 40px 0;
    background-color: #ff771c;
}

.fa-search {
    font-size: 1.4rem;
    color: white;
    top: 25%;
}

/*로그아웃*/
#logoutBtn {
    height: 40px;
    width: 100px;
    grid-area: logout;
    font-size: 1rem;
    position: relative;
    left: 70px;
    top: 80px;
    cursor: pointer;
}

#logoutBtn > i {
    font-size: 1.5rem;
    margin-left: 3px;
}

#logoutBtn:hover {
    text-shadow: 0px 0px 5px #ff771c;
}

/* 메인 컨테이너*/
.mainContainer {
    margin-top: 30px;
}

/* 메인 컨테이너 - 프로필 컨테이너 */
.profileContainer {
    margin: 30px 0;
    border: 2px solid #dfcec3;
    border-radius: 20px;
    height: 240px;
    display: grid;
    grid-template-areas:
        "image nickname gender tag alarm calender"
        "image height . . . calender"
        "image description description description description calender"
        "score score score score updateBtn calender";
    grid-template-columns: 1fr 1fr 0.3fr 1fr 0.7fr 2fr;
    grid-template-rows: 1fr 0.5fr 1.5fr 1fr;
}

.noprofile {
    grid-area: description;
    font-size: 1.6rem;
    cursor: pointer;
    text-align: right;
    position: relative;
    left: 150px;
    width: 430px;
    height: 50px;
    padding: 5px 0px;
}

.noprofile:hover {
    text-decoration-line: underline;
    text-decoration-color: #ffb13d;
}

.image {
    grid-area: image;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nickname {
    grid-area: nickname;
    font-size: 1.7rem;
    padding-top: 18px;
    padding-left: 7px;
}

.gender {
    grid-area: gender;
    font-size: 1.9rem;
    padding-top: 18px;
}

.tag {
    grid-area: tag;
    font-size: 0.9rem;
    padding-top: 30px;
}

.height {
    grid-area: height;
    font-size: 0.9rem;
    padding-left: 10px;
}

.description {
    grid-area: description;
    padding: 0px 10px;
    margin: 0 10px;
}

.scoreContainer {
    grid-area: score;
    display: flex;
    float: left;
    margin: 15px 30px 15px 70px;
    justify-content: space-between;
}

#personalityAmount > i,
#abilityAmount > i,
.rankScore > i {
    color: #ffb13d;
}
#alarmBtn {
    grid-area: alarm;
    height: 40px;
    width: 50px;
    background-color: white;
    color: #666;
    border: none;
    padding-top: 3px;
    margin-top: 15px;
    margin-left: 60px;
    font-size: 1.5rem;
    cursor: pointer;
}

.calenderContainer {
    grid-area: calender;
    border-left: 1px dashed #666;
}

#profileUpdateBtn {
    grid-area: updateBtn;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 5px;
    font-family: "LINESeedKR-Bd";
    cursor: pointer;
}

/* 메인 컨테이너 - 랭킹 컨테이너 */

#rankLabel {
    font-size: 2rem;
    color: #3f3131;
}
.rankContainer {
    justify-content: space-between;
    width: 100%;
    display: flex;
    float: left;
    margin: 10px auto 15px;
}

.rankOuterContainer {
    width: 30%;
    margin-top: 5px;
    border: 1px solid #ff771c;
    border-radius: 20px;
}

.rankOuterContainer > .rankName {
    background-color: #ff771c;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 13px;
    padding-top: 5px;
    height: 25px;
}

.rank {
    height: 30px;
    text-align: start;
    display: grid;
    grid-template-areas: "rank nickname score";
    grid-template-columns: 0.9fr 1.5fr 0.6fr;
    margin: 20px 0px 10px 10px;
    font-size: 1.3rem;
}

.rankNumber {
    grid-area: rank;
}
.ranknickName {
    grid-area: nickname;
}
.rankScore {
    grid-area: score;
}
.rankAnnouncement {
    margin-top: 5px;
}
.rankAnnouncement > p {
    font-size: 0.8rem;
    margin: 2px 0px;
}

/* 메인 컨테이너 - 기타 컨테이너 */
.plusContainer {
    justify-content: space-between;
    width: 100%;
    display: flex;
    float: left;
    margin-bottom: 70px;
}

.plusOuterContainer {
    width: 47%;
    margin-top: 30px;
}

.plusName {
    font-size: 2rem;
    color: #3f3131;
}

.plusInnerContainer {
    background-color: #dfcec3;
    border-radius: 20px;
    text-align: start;
    padding: 20px 20px;
}

.plusDataContainer {
    background-color: #ffffff;
    border-radius: 20px;
    height: 240px;
    position: relative;
    padding-top: 8px;
    padding-bottom: 5px;
}

.plusData {
    margin: 10px auto;
    padding: 10px 0px;
    width: 90%;
    font-size: 1.2rem;
    border-bottom: 1px solid #a08989;
}

.plusData:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
}

/* 하단부 */
.footer {
    width: 100%;
    display: grid;
    background-color: #f0f0f0;
    grid-template-areas:
        "logo announce ."
        "logo privacy site"
        "logo call .";
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: repeat(3, 40px);
}

.footer > a {
    text-decoration: none;
    color: #000000;
}

.footerLogo {
    grid-area: logo;
}
#footerLogoImg {
    height: 70px;
    width: 70px;
    margin: 25px auto auto 70px;
}
#footerAnnounce {
    grid-area: announce;
    margin-top: 15px;
    margin-left: 20px;
    height: 20px;
    font-size: 0.8rem;
    position: relative;
    top: 20px;
}
#footerPrivacy {
    grid-area: privacy;
    height: 20px;
    margin-left: 20px;
    font-size: 0.8rem;
    position: relative;
    top: 15px;
}
#footerCall {
    grid-area: call;
    height: 20px;
    margin: 2px 20px 2px;
    font-size: 0.9rem;
}
#footerSite {
    grid-area: site;
    font-size: 0.9rem;
}
