.mainContainer {
    margin: 70px auto 10px;
}

#listLabel {
    font-size: 2rem;
    color: #3f3131;
}

.myApplicationCard {
    border: 1px solid #ffb13d;
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
}

.deleteApplicationBtn {
    font-family: "LINESeedKR-Bd";
    width: 70px;
    height: 30px;
    margin: 20px 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #eeeeee;
    cursor: pointer;
}

.deleteApplicationBtn:hover {
    background-color: #ffb13d;
}
