.mainContainer {
    margin: 70px auto 10px;
}

#listLabel {
    font-size: 2rem;
    color: #3f3131;
}

.myApplicationCard {
    border: 1px solid #ffb13d;
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
}
