.mainContainer {
    margin: 70px auto 10px;
}

#listLabel {
    font-size: 2rem;
    color: #3f3131;
}

.my-club-application {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    text-align: center;
}

.clubApplicationCard {
    font-family: "LINESeedKR-Bd";
    width: 90%;
    text-align: center;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #ffb13d;
}
