/* 메인 컨테이너*/

.titleContainer {
    margin-top: 80px;
    width: 100%;
    min-height: 50px;
}

.titleFlex {
    width: 100%;
    display: flex;
    float: left;
}

h3 {
    padding: 10px 0px 7px;
    margin: 0px;
}

#myWriteRecruit,
#myApplyRecruit {
    width: 50%;
    display: inline-block;
    text-align: center;
    border: 1px solid #ffb13d;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
}

#myApplyRecruit {
    background-color: #ff771c;
    color: #fff;
}

.mainContainer {
    margin: 0px auto 10px;
    border: 1px solid #ffb13d;
}

/* 카드 부분*/

/* 모달창 */

.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#myMatchUser {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    margin-bottom: 10px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
