/* 메인 컨테이너*/

.titleContainer {
    margin-top: 80px;
    width: 100%;
    min-height: 50px;
    margin-bottom: 0px;
}

.titleFlex {
    width: 100%;
    display: flex;
    float: left;
    height: 50px;
}

h3 {
    padding: 10px 0px 7px;
    margin: 0px;
}

#myWriteRecruit,
#myApplyRecruit {
    width: 50%;
    display: inline-block;
    text-align: center;
    border: 1px solid #ff771c;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
}

#myWriteRecruit {
    background-color: #ff771c;
    color: #fff;
}

.mainContainer {
    margin: 0px auto 10px;
    border: 1px solid #ff771c;
    min-height: 20rem;
}

/* 카드 부분*/

#myRecruit-info {
    display: grid;
    grid-template-columns: 1.7fr 0.8fr 1.7fr 0.8fr 1.7fr 0.8fr;
    justify-content: space-between;
}

.recruitBtn {
    font-family: "LINESeedKR-Bd";
    width: 90%;
    text-align: center;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #ffb13d;
    cursor: pointer;
}

.recruitBtn:hover {
    box-shadow: 2px 2px 2px gray;
}

.recruitListBtn {
    text-align: center;
    margin: auto;
}

.recruitListBtn > button {
    font-family: "LINESeedKR-Bd";
    background-color: #ffb13d;
    border-radius: 10px;
    border: none;
    color: #fff;
    width: 80px;
    height: 30px;
    padding-top: 4px;
    cursor: pointer;
}

.recruitListBtn > button:hover {
    background-color: #fff;
    color: black;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid #ffb13d;
}

#myRecruitModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#closeModalButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #555;
}

/* 신청목록 css */

#recruitUserModal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
}

#recruitUser {
    display: grid;
    grid-template-columns: 1.7fr 0.8fr 1.7fr 0.8fr 1.7fr 0.8fr;
    justify-content: space-between;
}

#recruitUser > button {
    font-family: "LINESeedKR-Bd";
    width: 90%;
    text-align: center;
    margin: 10px auto;
    padding-top: 10px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #ffb13d;
}

#recruitUser > div {
    text-align: center;
    margin: auto;
}

#recruitUser > div > button {
    font-family: "LINESeedKR-Bd";
    background-color: #ffb13d;
    border-radius: 10px;
    border: none;
    color: #fff;
    width: 40px;
    height: 30px;
    padding-top: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#recruitUser > div > button:hover {
    background-color: #fff;
    color: black;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid #ffb13d;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    margin-bottom: 10px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-footer > div > button {
    font-family: "LINESeedKR-Bd";
    background-color: white;
    border: none;
    cursor: pointer;
}

/* 매치 상세 정보 목록 css */

.modal-body > h2 {
    border-top: 1px dotted #ff771c;
    padding-top: 20px;
    margin-bottom: 5px;
}

#recruitMatch {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.userInMatch {
    width: 90%;
    margin: 10px auto;
    font-family: "LINESeedKR-Bd";
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #ffb13d;
}

#RecruitButton > div > button,
.modal-footer > button {
    font-family: "LINESeedKR-Bd";
    background-color: #ffb13d;
    border-radius: 10px;
    border: none;
    color: #fff;
    width: fit-content;
    height: 30px;
    padding-top: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

#RecruitButton > div > button:hover,
.modal-footer > button:hover {
    background-color: #fff;
    color: black;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid #ffb13d;
}
