.mainContainer {
    margin-top: 70px;
}

.boardContainer {
    min-height: 100%;
    width: 80%;
    padding: 10px 30px;
    border-left: 1px solid #dfcec3;
}

.createBtn {
    font-family: "LINESeedKR-Bd";
    margin: 10px 15px;
    height: 25px;
    padding-top: 5px;
    border-radius: 7px;
    border: 1px solid #ffb13d;
    background-color: #fff;
    cursor: pointer;
}

.createBtn:hover {
    box-shadow: 2px 2px 2px gray;
}

.boardTitleContainer {
    border-top: 3px solid #4c3c36;
    padding: 10px 0px;
}

.boardTitleContainer,
.noticeBoardListContainer > .item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.item {
    padding: 15px 0px;
    border-top: 1.5px solid #4c3c36;
}

.num,
.title,
.writer,
.createDate,
.updateDate {
    text-align: center;
}

.num {
    width: 10%;
}

.title {
    width: 20%;
}

.writer {
    width: 15%;
}
.createDate {
    width: 15%;
}
.updateDate {
    width: 15%;
}

.title > a {
    text-decoration: none;
    color: black;
}

.title > a:hover {
    text-decoration: underline;
}
