body {
    font-family: Arial, sans-serif;
}

/* 배경을 어둡게 만들기 위한 스타일 */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 색상 및 투명도 조절 */
    justify-content: center;
    align-items: center;
}

/* 모달 창을 위한 스타일 */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

/* 닫기 버튼 스타일 */
.close-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.updateBtn {
    display: none;
}

.deleteBtn {
    display: none;
}
