/* 메인 컨테이너*/

.mainContainer {
    margin: 70px auto 10px;
}

.titleLabel {
    font-size: 2rem;
    color: #3f3131;
}

#contentContainer {
    margin-top: 15px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 15px;
}

dt {
    margin-left: 15px;
    font-size: 1.1rem;
}

.title > dl {
    display: flex;
    width: 100%;
}

.title > dl > dt {
    margin: auto 0px auto 15px;
}

#inputTitle {
    padding-left: 10px;
    background-color: #e9e9e9;
    color: black;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.gamedate > dd,
.runtime > dd {
    width: 35%;
}

.gamedate > dt,
.runtime > dt {
    margin: auto 0px auto 15px;
}

.content {
    margin-top: 15px;
}

#input-content {
    font-family: "LINESeedKR-Bd";
    min-height: 10rem;
    width: 95%;
    margin: 10px auto auto 20px;
    background-color: #e9e9e9;
    color: black;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.board-post .content textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}

#btnContainer {
    text-align: center;
    margin: 10px auto;
}

.board-post .title input[type="text"],
.board-post .info input[type="text"],
.board-post .info select,
.board-post .info input[type="date"],
.board-post .info input[type="time"] {
    padding: 10px;
    box-sizing: border-box;
}

.board-post .info select,
.board-post .info input[type="date"],
.board-post .info input[type="time"] {
    width: 100%;
}

.close-button {
    cursor: pointer;
    font-size: 20px;
}

#submit {
    margin-top: 8px;
}

#register-btn,
#register-cancel-btn {
    display: inline;
    font-family: "LINESeedKR-Bd";
    width: 85px;
    margin-left: 15px;
    border: 1px solid #ffb13d;
    background-color: #fff;
    border-radius: 10px;
    height: 30px;
}

#register-btn:hover,
#register-cancel-btn:hover {
    background-color: #ffb13d;
}
