* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    font-size: 10px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}

body {
    display: flex;
    justify-content: center; /* 가운데 정렬을 위해 추가 */
    height: 100vh; /* 화면 전체 높이를 채우도록 설정 */
    margin: 0; /* Body의 기본 마진 제거 */
    min-width: 320px;
}

.main-list {
    display: flex;
    justify-content: center; /* 가운데 정렬을 위해 추가 */
    align-items: center; /* 가운데 정렬을 위해 추가 */
    margin-top: 10%;
}

.board-wrap {
    width: 1000px;
    margin: 100px auto;
}

.board-title {
    margin-bottom: 30px;
}

.board-title strong {
    font-size: 3rem;
}

.board-title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt-wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
    padding-bottom: 50px;
}

.bt-wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt-wrap a:first-child {
    margin-left: 0;
}

.bt-wrap a.on {
    background: #000;
    color: #fff;
}

.main-list a {
    margin-right: 2rem;
}

.board-post {
    border-top: 2px solid #000;
}

.board-post .title,
.board-post .info {
    padding: 15px;
    margin-top: 0;
}

.board-post .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board-post .title dl {
    font-size: 0;
}

.board-post .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    margin-top: 5px;
}

.board-post .title dt,
.board-post .title dd,
.board-post .info dt,
.board-post .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board-post .title dt,
.board-post .info dt {
    width: 100px;
}

.board-post .title dd {
    width: calc(100% - 100px);
}

.board-post .title input[type="text"],
.board-post .info input[type="text"],
.board-post .info select {
    padding: 10px;
    box-sizing: border-box;
}

/* .board-post .info select {
    padding: 10px;
    box-sizing: border-box;
} */

.board-post .info select {
    width: 150%;
}

.board-post .title input[type="text"] {
    width: 80%;
}

.board-post .content {
    border-bottom: 1px solid #000;
}

.board-post .content textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}

@media (max-width: 1000px) {
    .board-wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .board-post .title dt,
    .board-post .info dt {
        display: none;
    }

    .board-post .title dd,
    .board-post .info dd {
        width: 100%;
    }

    .board-post .title input[type="text"],
    .board-post .info input[type="text"],
    .board-post .info select {
        width: 100%;
    }

    .board-post .info dl {
        width: 49%;
    }

    .board-post .info dl:nth-child(odd) {
        margin-right: 2%;
    }
}
