/* 메인 컨테이너*/
.mainContainer {
    margin-top: 70px;
}

.createBtn {
    font-family: "LINESeedKR-Bd";
    margin: 10px 15px;
    height: 25px;
    padding-top: 5px;
    border-radius: 7px;
    border: 1px solid #ffb13d;
    background-color: #fff;
    cursor: pointer;
}

.createBtn:hover {
    box-shadow: 2px 2px 2px gray;
}

.boardContainer {
    border-top: 3px solid #4c3c36;
}

.boardTitleContainer {
    padding: 10px 0px;
}

.boardTitleContainer,
.boardListContainer > .item {
    display: flex;
    width: 100%;
}

.item {
    padding: 15px 0px;
    border-top: 1.5px solid #4c3c36;
}

.num,
.category,
.title,
.region,
.writer,
.gamedate,
.status {
    text-align: center;
}

.num {
    width: 10%;
}
.category {
    width: 10%;
}
.title {
    width: 20%;
}
.region {
    width: 15%;
}
.writer {
    width: 15%;
}
.gamedate {
    width: 15%;
}
.status {
    width: 15%;
}

.title > a {
    text-decoration: none;
    color: black;
}

.title > a:hover {
    text-decoration: underline;
}

#regionFilter,
#CategoryFilter,
#StatusFilter {
    font-family: "LINESeedKR-Bd";
    border: 1px solid #ffb13d;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 5px;
    cursor: pointer;
    height: 25px;
    margin: 10px 3px;
}
