/* 메인 컨테이너*/
.mainContainer {
    margin-top: 70px;
}

.createBtn {
    font-family: "LINESeedKR-Bd";
    margin: 10px 15px;
    height: 25px;
    padding-top: 5px;
    border-radius: 7px;
    border: 1px solid #ffb13d;
    background-color: #fff;
    cursor: pointer;
}

.createBtn:hover {
    box-shadow: 2px 2px 2px gray;
}

.boardContainer {
    border-top: 3px solid #4c3c36;
}

.boardTitleContainer {
    padding: 10px 0px;
}

.boardTitleContainer,
.boardListContainer > .item {
    display: flex;
    width: 100%;
}

.item {
    padding: 15px 0px;
    border-top: 1.5px solid #4c3c36;
}

.num,
.category,
.title,
.region,
.writer,
.gamedate,
.status {
    text-align: center;
}

.num {
    width: 10%;
}
.category {
    width: 10%;
}
.title {
    width: 20%;
}
.region {
    width: 15%;
}
.writer {
    width: 15%;
}
.gamedate {
    width: 15%;
}
.status {
    width: 15%;
}

.title > a {
    text-decoration: none;
    color: black;
}

.title > a:hover {
    text-decoration: underline;
}

#regionFilter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px; /* 적절한 패딩 값 설정 */
    border: none; /* 적절한 테두리 설정 */
    border-radius: 4px; /* 적절한 테두리 반지름 설정 */
}

/* 드롭다운 화살표 스타일링 */
#regionFilter::-ms-expand {
    display: none;
}

#regionFilter::after {
    content: "▼"; /* 적절한 드롭다운 화살표 아이콘 설정 */
    font-size: 12px; /* 아이콘 크기 조절 */
    color: #333; /* 아이콘 색상 설정 */
    position: absolute;
    top: 50%;
    right: 10px; /* 우측 여백 조절 */
    transform: translateY(-50%);
    pointer-events: none;
}
