.mainContainer > #placeResults {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 300px));
    gap: 20px; /* 이미지 사이의 간격 조절 */
    justify-content: space-between;
}

.mainContainer {
    margin-top: 70px;
    margin-bottom: 50px;
}

.mainContainer > h2 {
    border-top: 2px solid #dfcec3;
    padding-top: 20px;
}

.placeContainer {
    height: 20rem;
    width: 100%;
    cursor: pointer;
}

.image {
    overflow: hidden;
    object-fit: cover;
}

img {
    width: 100%;
}

.name {
    font-size: 1.2rem;
    margin: 5px 3px 3px 5px;
    text-decoration: underline;
}

.address {
    font-size: 0.9rem;
    margin: 0px 5px 3px 7px;
}

#recruitResults > div,
#clubResults > div {
    padding: 10px 15px;
    border-top: 1px dotted #dfcec3;
}

#recruitResults > div,
#clubResults > div,
#placeResults > div {
    cursor: pointer;
}

#loadMoreButton {
    margin-top: 30px;
    display: inline;
    font-family: "LINESeedKR-Bd";
    width: 85px;
    margin-left: 15px;
    border: 1px solid #ffb13d;
    background-color: #fff;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}

#loadMoreButton:hover {
    background-color: #ffb13d;
}
